node_modules/
dist/
build/
.coverage/
.vscode/
.idea/

*.log
*.min.*
package-lock.json
yarn.lock
**/tsconfig.json
**/jsconfig.json

**/generated/*

/docs/
/CHANGELOG.md
*.png
*.jpg
*.zip
*.pdf
coverage
