.errorMessageContainer {
  display: flex;
  align-items: center;
  height: 130px;
  width: 100%;
  background: var(--clr-bg-2);
}

.errorWrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: 1440px;
  gap: 9px;
}

.errorTitle {
  font-size: 36px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  gap: 30px;
  margin: 49px 0 0;
}

.imgNotFound {
  width: 60%;
}

.textImage {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  padding: 0 10px;
}

@media (width <= 800px) {
  .mainContainer {
    margin: 20px;
  }

  .errorTitle {
    font-size: 20px;
  }

  .textImage {
    font-size: 16px;
  }
}