.errorMessageContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  height: 130px;
  width: 100%;
  background: var(--clr-bg-2);
  gap: 9px;
}

.errorWrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: 1440px;
}

.errorTitle {
  font-size: 36px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 60%;
}

.imgNotFound {
  height: 409px;
}

.textImage {
  font-weight: 700;
  font-size: 24px;
}

.backButton {
  font-size: 16px;
  font-weight: 400px;
  margin: 40px 0;
  padding: 15px 30px;
}
