.iconWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.small {
  width: 16px;
  height: 16px;
}

.medium {
  width: 18px;
  height: 18px;
}

.large {
  width: 20px;
  height: 20px;
}
