.iconWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.small {
  width: 16px;
  height: 16px;
}

.medium {
  width: 20px;
  height: 20px;
}

.large {
  width: 60px;
  height: 60px;
}

.basket {
  width: 24px;
  height: 24px;
}
