.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  box-shadow:
    0 10px 40px rgb(0 0 0 / 5%),
    0 -10px 40px rgb(0 0 0 / 5%);
}

.header {
  text-align: center;
  padding: 1rem;
}

.hint {
  font-size: 17px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.formInput {
  border: 1px solid var(--clr-primary-300);
  border-radius: 4px;
  padding: 0.5rem;
}

.formInput::placeholder {
  color: var(--clr-primary-500);
}

.error {
  color: var(--clr-accent-4);
}

@media (width <= 360px) {
  .container {
    padding: 1rem;
  }
}
