.optionContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
}

.select {
  min-width: 200px;
  padding: 8px 30px;
  border: 1px solid var(--clr-accent-9);
  color: var(--clr-accent-10);
}
