.bottomWrapper {
	flex-direction: row !important;
	justify-content: space-between !important;
	width: 1440px;
  padding: 0 63px;
}

.bottomHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--clr-bg);
  padding: 0 63px;
}

.bottomNavigationMenu {
  display: flex;
  padding: 14px 0;
}

.input {
  border: 2px solid var(--clr-primary-300);
  padding: 8px 20px;
}

.searchButton {
  height: 35px;
}
