.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--clr-accent-2);
}

.navigationMenu {
  display: flex;
  gap: 32px;
}

.link {
  color: var(--clr-bg);
  padding: 14px 0 14px 0;
  text-decoration: none;

  &.link:hover {
    text-decoration: underline;
  }
}
