.cartPageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px;
}

.cartPageProductList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.emptyCartTitle {
  font-size: 20px;
}

.clearCartButton {
  margin-top: 20px;
  align-self: flex-end;
  margin-right: 20px;
}

.promoCodeSection {
  display: flex;
  align-items: center;
  border: 1px solid var(--clr-accent-11);
  border-radius: 5px;
  margin: 20px 0 0;
}

.promoCodeInput {
  font-size: 16px;
  padding-left: 6px;
  color: var(--clr-secondary-800);
}

.promoCodeInput::placeholder {
  font-family: var(--ff-base);
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.priceWithoutDiscount {
  text-decoration: line-through;
  font-size: 20px;
}

.discountPrice {
  color: var(--clr-accent-1);
  font-size: 20px;
}
