.cartPageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px;
}

.cartPageProductList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.emptyCartTitle {
  font-size: 20px;
}

.clearCartButton {
  margin-top: 20px;
  align-self: flex-end;
  margin-right: 20px;
}
