.topWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1440px;
	padding: 0 10px;
}

.topHeader {
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
	background-color: var(--clr-accent-2);
}