.profileWrapper {
  display: flex;
  gap: 30px;
  flex-direction: column;
  margin: 30px;
}

.addressesContainer {
  display: 'flex';
  flex-wrap: 'wrap';
  gap: '10px';
}

.title {
  margin: 0 0 16px;
}

.section {
  width: 100%;
  background-color: var(--clr-bg-2);
  border-radius: 8px;
  padding: 24px;
}

.sectionHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 10px 0;

  & * {
    margin: 0;
  }
}

.editBtn {
  font-size: 15px;
  padding: 5px;
}

.input {
  border: 1px solid var(--clr-primary-300);
  border-radius: 4px;
  padding: 0.5rem;
  color: var(--clr-primary-500);
}

.input:disabled {
  background-color: transparent;
}

.input::placeholder {
  color: var(--clr-primary-500);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.error {
  color: var(--clr-accent-4);
}

.card {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  padding: 16px;
  background-color: var(--clr-bg-2);
}

.badge {
  background: var(--clr-accent-2);
  width: fit-content;
  color: var(--clr-bg-1);
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 0.75rem;
  margin-bottom: 10px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 8px 16px;
}

.item {
  display: contents;
}

.label {
  color: var(--clr-secondary-300);
}

.value {
  font-weight: 500;
}
