@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

:root {
  --ff-base: 'Josefin Sans', sans-serif;

  --clr-primary-100: #f2f0ff;
  --clr-primary-300: #e0d3f5;
  --clr-primary-500: #9f63b5;

  --clr-secondary-300: #8990b1;
  --clr-secondary-500: #3f509e;
  --clr-secondary-800: #151875;

  --clr-accent-1: #fb2e86;
  --clr-accent-2: #7e33e0;
  --clr-accent-3: #2f1ac4;
  --clr-accent-4: #fb2448;
  --clr-accent-5: #1db4e7;
  --clr-accent-6: #ffcd38;
  --clr-accent-7: #08d15f;

  --clr-disabled-100: #cacaca;
  --clr-disabled-300: #a0a0a0;
  --clr-disabled-600: #5f5f5f;

  --clr-bg: white;
}

html,
body {
  font-family: var(--ff-base);
  color: var(--clr-secondary-800);
  background-color: var(--clr-bg);
}

.heading {
  font-size: 2.5rem;
  font-weight: 700;
}
