.card {
  width: 100%;
  max-width: 400px;
  background-color: var(--clr-bg-2);
  border-radius: 8px;
  padding: 24px;
  display: flex;
}

.title {
  margin: 0 0 16px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.label {
  min-width: 80px;
  margin-right: 10px;
  color: var(--clr-secondary-300);
}

.value {
  flex: 1;
  font-weight: 500;
}

.item:last-child {
  margin-bottom: 0;
}
